#preloader
  #status

header#header
    .navbar.navbar-fixed-top.gray-navbar
        .container
          .navbar-header
            //
               Responsive Menu 
            button#nav-toggle.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation-menu')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            //
               Logo Image 
            a.navbar-brand(href='#{menu_ctx}#top-page-banner')
              img(src='/images/logo.png', alt='Elecyr', role='banner')

          //
             Navigation Menu 
          nav#navigation-menu.collapse.navbar-collapse(role='navigation')
            ul#navList.nav.navbar-nav.navbar-right
              li
                a#GoToHome(href='#{menu_ctx}#intro') Home
              li
                a#GoToMicrogrids(href='#{menu_ctx}distributedpower') Microgrids
              li
                a#GoToStorage(href='#{menu_ctx}cellsbatteries') Storage
              li
                a#GoToApplications(href='#{menu_ctx}#app_descriptions') Applications
              li
                a#GoToTechnology(href='#{menu_ctx}solar-calculator') Costs
              li
                a#GoToContact(href='#{menu_ctx}#contact') Contact
              li
                a(href='/blog') Blog

    #blogDropMenu
      #blogDropMenuInner.dropdown
        button#myDropBtn.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
          p.ng-binding Filter:
          span.caret
        ul.dropdown-menu(aria-labelledby='myDropBtn')
          li
            a.anchorTitle(ng-href='/solar-blog/', href='/solar-blog/')
              div
                | Latest
          a.anchorTitle(ng-click="callCategory('All')", ng-href='/solar-blog/All', href='/solar-blog/All')
            div
              | All
          a.anchorTitle(ng-click="callCategory('Microgrid')", ng-href='/solar-blog/Microgrid', href='/solar-blog/Microgrid')
            div
              | Microgrid
          a.anchorTitle(ng-click="callCategory('Military')", ng-href='/solar-blog/Military', href='/solar-blog/Military')
            div
              | Military
          a.anchorTitle(ng-click="callCategory('Technology')", ng-href='/solar-blog/Technology', href='/solar-blog/Technology')
            div
              | Technology
          a.anchorTitle(ng-click="callCategory('Batteries')", ng-href='/solar-blog/Batteries', href='/solar-blog/Batteries')
            div
              | Batteries
          a.anchorTitle(ng-click="callCategory('Solar Energy')", ng-href='/solar-blog/Solar Energy', href='/solar-blog/Solar Energy')
            div
              | Solar Energy
          a.anchorTitle(ng-click="callCategory('Solar Power')", ng-href='/solar-blog/Solar Power', href='/solar-blog/Solar Power')
            div
              | Solar Power
          a.anchorTitle(ng-click="callCategory('Battery Storage')", ng-href='/solar-blog/Battery Storage', href='/solar-blog/Battery Storage')
            div
              | Battery Storage
  block header_bottom
