#preloader
  #status

header#header
    .navbar.navbar-fixed-top
        .container
          .navbar-header
            //
               Responsive Menu 
            button#nav-toggle.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation-menu')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            //
               Logo Image 
            a.navbar-brand(href='#{menu_ctx}#top-page-banner')
              img(src='/images/logo.png', alt='Elecyr', role='banner')

          //
             Navigation Menu 
          nav#navigation-menu.collapse.navbar-collapse(role='navigation')
            ul.nav.navbar-nav.navbar-right
              li
                a#GoToHome(href='#{menu_ctx}#intro') Home
              li
                a#GoToMicrogrids(href='#{menu_ctx}distributedpower') Microgrids
              li
                a#GoToStorage(href='#{menu_ctx}cellsbatteries') Storage
              li
                a#GoToApplications(href='#{menu_ctx}#app_descriptions') Applications
              li
                a#GoToTechnology(href='#{menu_ctx}solar-calculator') Costs
              li
                a#GoToContact(href='#{menu_ctx}#contact') Contact
              li
                a(href='/blog') Blog

    block header_bottom
